<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <button class="text-blue-500 background-transparent font-bold uppercase px-3 py-1 text-xs outline-none focus:outline-none mr-1 mb-1" type="button" style="transition: all .15s ease">
        <i class="fas fa-chevron-left"></i> Back
      </button>
    </div>
    <div class="col-md-8">
      <div class="row">
        <h3 class="text-4xl font-normal leading-normal mt-0 mb-2 text-gray-800">
          Step {{ stepNumber }} of 7
        </h3>
      </div>
      <div class="row">

      </div>
      <div class="row">
        <div class="relative pt-1">
    <div class="overflow-hidden h-2 mb-4 text-xs flex rounded bg-orange-200">
      <div style={{ width: "10%" }} class="shadow-none flex flex-col text-center whitespace-nowrap text-white justify-center bg-red-500"></div>
      <div style={{ width: "15%" }} class="shadow-none flex flex-col text-center whitespace-nowrap text-white justify-center bg-orange-500"></div>
      <div style={{ width: "25%" }} class="shadow-none flex flex-col text-center whitespace-nowrap text-white justify-center bg-orange-500"></div>
    </div>
  </div>
      </div>
      <div class="row"> 
        <h5 class="text-2xl font-normal leading-normal mt-0 mb-2 text-gray-800">
          {{ stepLabel }}
        </h5>
      </div>
    </div>
    <div class="col-md-2">
      <button class="text-green-500 background-transparent font-bold uppercase px-3 py-1 text-xs outline-none focus:outline-none mr-1 mb-1" type="button" style="transition: all .15s ease">
        <i class="fas fa-chevron-right"></i> Next
      </button>
    </div>
  </div>
</div>